<div class="panel panel-default">
  <div class="panel-heading">Cache Size Graph</div>
  <div class="panel-body">
    <div id="cacheSizeGraph" class="pie-graph" style="width:100%;height:300px"></div>
  </div>
</div>
