<div class="cache-size-data panel panel-default">
  <div class="panel-heading">Cache Size</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <tr ng-repeat="(k, v) in stats.cacheSize">
          <td><strong>{{v.label}}</strong></td>
          <td>{{v.data}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
