<div class="panel panel-default">
  <div class="panel-heading">Cas Stats</div>
  <div class="panel-body">
    <table class="table table-reponsive">
      <tr ng-repeat="(k,v) in stats.casStats">
        <td><strong>{{v.label}}</strong></td>
        <td>{{v.data}}</td>
      </tr>
    </table>
  </div>
</div>
