<div class="panel panel-default">
  <div class="panel-heading">Hit Miss Rate</div>
  <div class="panel-body">
    <div id="hit-miss-rate-graph" class="bar-graph" style="width:100%;height:250px"></div>
  </div>
</div>
