<div class="memory-distribution-data panel panel-default">
  <div class="panel-heading">Memory Distribution</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <tr ng-repeat="(k, v) in stats.memoryDistribution">
          <td><strong>{{k}}</strong></td>
          <td>{{v}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
