<div class="server-status-data panel panel-default">
  <div class="panel-heading">Server Status</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <tr ng-repeat="(k, v) in stats.server_status">
          <td><strong>{{k}}</strong></td>
          <td>{{v}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
