<div class="panel panel-default">
  <div class="panel-heading">Set Stats</div>
  <div class="panel-body">
    <table class="table table-reponsive">
      <tr ng-repeat="(k,v) in stats.set_stats">
        <td><strong>{{k}}</strong></td>
        <td ng-repeat="val in v">{{val}}</td>
      </tr>
    </table>
  </div>
</div>
