<form role="form" name="loginForm" ng-submit="login()">
    <fieldset>
        <div class="form-group">
            <input class="form-control" placeholder="Username" name="username" type="text" autofocus ng-model="credentials.username">
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Password" name="password" type="password" value="" ng-model="credentials.password">
        </div>
        <button type="submit" id="btnSubmit" class="btn btn-success">Login</button>
    </fieldset>
</form>
