<!DOCTYPE html>
<html ng-app="<%-ngApp%>">
  <head>
    <title>GBTS Hazelcast Monit</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-cookies.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js" type="text/javascript"></script>

    <!--STYLES-->
    <link rel="stylesheet" href="styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>

    <div id="wrapper">
      <div ui-view>
          <%-body%>
      </div>
    </div> <!-- WRAPPER END -->

    <!--TEMPLATES-->

    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="js/importer.js"></script>
    <!--SCRIPTS END-->

  </body>
</html>
