<div class="form-group">
  <label for="name">Name:</label>
  <input type="text" class="form-control" name="name" ng-model="map_form.name">
</div>
<div class="form-group" ng-init="getClusters()">
  <label for="cluster">Cluster</label>
  <select name="cluster" id="cluster" ng-model="map_form.cluster" ng-options="c.id as c.name for c in clusters" class="form-control">
    <option value="">--select--</option>
  </select>
</div>
<div class="form-group">
  <label for="description">Decription</label>
  <textarea name="description" rows="8" cols="40" ng-model="map_form.description" class="form-control"></textarea>
</div>
