<div class="form-group" ng-init="getClusters()">
  <label for="cluster">Cluster</label>
  <select name="cluster" id="cluster" ng-model="member_form.cluster" ng-options="c.id as c.name for c in clusters" class="form-control">
    <option value="">--select--</option>
  </select>
</div>
<div class="form-group">
  <label for="name">Name:</label>
  <input type="text" class="form-control" name="name" ng-model="member_form.name">
</div>
<div class="form-group">
  <label for="hostname">IP/Hostname</label>
  <input type="text" class="form-control" name="hostname" ng-model="member_form.hostname">
</div>
<div class="form-group">
  <label for="hostname">Port</label>
  <input type="text" class="form-control" name="port" ng-model="member_form.port">
</div>
<div class="form-group">
  <label for="description">Decription</label>
  <textarea name="description" rows="8" cols="40" ng-model="member_form.description" class="form-control"></textarea>
</div>
