<div class="form-group">
  <label for="name">Name:</label>
  <input type="text" class="form-control" name="name" ng-model="cluster_form.name">
</div>
<div class="form-group">
  <label for="description">Decription</label>
  <textarea name="description" rows="8" cols="40" ng-model="cluster_form.description" class="form-control"></textarea>
</div>
