<div id="cluster-list" ng-init="getClusters()">
  <div class="panel panel-default">
    <div class="panel-heading">
      Cluster Management
    </div>
    <div class="panel-body">

      <div class="list-controls row">
        <div class="col-md-4">
          <form method="get" name="frmSearchCluster" ng-submit="searchCluster()">
            <div class="input-group custom-search-form">
              <input type="text" name="q" ng-model="search.keyword" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <span class="fa fa-fw fa-search"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
        <div class="col-md-8">
          <a href="javascript://" ui-sref="admin_cluster.new_cluster" class="btn btn-primary pull-right"><i class="fa fa-fw fa-plus"></i> Add New</a>
        </div>
      </div>

      <div class="cluster-data mtop">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Date Added</th>
              <th>Last Updated</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody ng-if="clusters.length">
            <tr ng-repeat="(ix, g) in clusters | filter:search.keyword">
              <td>{{g.name}}</td>
              <td>{{g.description}}</td>
              <td>{{g.createdAt}}</td>
              <td>{{g.updatedAt}}</td>
              <td>
                  <a href="javascript://" class="btn btn-default btn-sm btn-block" ui-sref="admin_cluster.edit_cluster({clusterId: g.id})"><i class="fa fa-pencil"></i> edit</a>
                  <a href="javascript://" class="btn btn-default btn-sm btn-block" ng-click="deleteCluster(g.id)"><i class="fa fa-minus"></i> delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
