<div class="panel panel-primary">
  <div class="panel-heading">Edit Member</div>
  <div class="panel-body" ng-init="editMember()">
    <form name="frmEditCluster" method="post" ng-submit="updateMember()">
      <div ng-include src="'/js/ng/Cluster/templates/admin/_form-member.html'"></div>
      <div class="form-group">
        <button type="button" class="btn btn-default" ng-click="cancelMemberForm()">Cancel</button>
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </form>
  </div>
</div>
