<div class="panel panel-primary">
  <div class="panel-heading">Edit Map</div>
  <div class="panel-body" ng-init="editMap()">
    <form name="frmEditCluster" method="post" ng-submit="updateMap()">
      <div ng-include src="'/js/ng/Cluster/templates/admin/_form-map.html'"></div>
      <div class="form-group">
        <a href="javascript://" class="btn btn-default" ui-sref="admin_cluster.maps">Cancel</a>
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </form>
  </div>
</div>
