<div ng-include src="'/js/ng/Common/templates/menu.html'"></div>

<div id="page-wrapper">
  <div ng-include src="'/js/ng/Common/templates/_alerts.html'"></div>
  <div class="row" ui-view>
    
  </div>
</div>
