<div class="panel panel-primary" ng-init="getClusters()">
  <div class="panel-heading">New Member</div>
  <div class="panel-body">
    <form name="frmNewCluster" method="post" ng-submit="createMember()">
      <div ng-include src="'/js/ng/Cluster/templates/admin/_form-member.html'"></div>
      <div class="form-group">
        <button type="button" class="btn btn-default" ng-click="cancelMemberForm()">Cancel</button>
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </form>
  </div>
</div>
