<div class="panel panel-primary" ng-init="getClusters()">
  <div class="panel-heading">New Map</div>
  <div class="panel-body">
    <form name="frmNewCluster" method="post" ng-submit="createMap()">
      <div ng-include src="'/js/ng/Cluster/templates/admin/_form-map.html'"></div>
      <div class="form-group">
        <a href="javascript://" class="btn btn-default" ui-sref="admin_cluster.maps">Cancel</a>
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </form>
  </div>
</div>
