<div class="panel panel-primary">
  <div class="panel-heading">New Cluster</div>
  <div class="panel-body">
    <form name="frmNewCluster" method="post" ng-submit="createCluster()">
      <div ng-include src="'/js/ng/Cluster/templates/admin/_form.html'"></div>
      <div class="form-group">
        <a href="javascript://" class="btn btn-default" ui-sref="admin_cluster.list">Cancel</a>
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </form>
  </div>
</div>
