<div class="panel panel-default panel-width-50">
    <div class="panel-heading">
      <h3 class="panel-title">Create New User</h3>
    </div>
    <div class="panel-body">
        <div class="row vSpace10">
            <div class="col-md-3">
                Username:
            </div>
            <div class="col-md-9">
                <input type="text" class="text-width-100">
            </div>
        </div>
        <div class="row vSpace20">
            <div class="col-md-3">
                Password:
            </div>
            <div class="col-md-9">
                <input type="password" class="text-width-100">
            </div>
        </div>
        <div class="col-md-12">
            <strong>Personal Info</strong>
        </div>
        <hr>
        <div class="row vSpace10">
            <div class="col-md-3" class="text-width-100">
                First Name:
            </div>
            <div class="col-md-9">
                <input type="text" class="text-width-100">
            </div>
        </div>
        <div class="row vSpace10">
            <div class="col-md-3">
                Last Name:
            </div>
            <div class="col-md-9">
                <input type="text" class="text-width-100">
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div align="right">
            <button class="btn btn-danger">
                Cancel
            </button>
            <button class="btn btn-primary">
                Save
            </button>
        </div>
    </div>
</div>
