<a class="btn btn-success" ui-sref=".addUser">
  New User <i class="fa fa-plus"></i>
</a>
<br><br>
<div class="panel panel-default" ng-init="init()">
  <div class="panel-heading">
    <h3 class="panel-title">Users</h3>
  </div>
  <table class="table table-bordered">
    <tr>
      <th class="col-md-1">#</th>
      <th class="col-md-7">Username</th>
      <th class="col-md-4">&nbsp;</th>
    </tr>
    <tr ng-repeat="x in users">
      <td>{{ x.id }}</td>
      <td style="width: 70%">{{ x.username }}</td>
      <td>
        <div align="center">
          <a class="btn btn-warning"><i class="fa fa-desktop"></i></a>
          <a class="btn btn-info" ui-sref=".editUser({ id: x.id })"><i class="fa fa-wrench"></i></a>
          <button class="btn btn-danger" data-toggle="modal" data-target="#myModal"><i class="fa fa-times"></i></button>
        </div>
      </td>
    </tr>
  </table>
  <div class="panel-footer">Total: {{ users.length }}</div>
</div>

<!-- modal for delete -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete User</h4>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete this user?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-success">Yes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
