<div class="navbar-inverse sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="javascript://" ui-sref="dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li ng-repeat="(i,v) in quickSidebarNav">
              <a href="javascript://" ui-sref="{{v.state}}" class="{{v.active}}"><i class="fa fa-{{v.icon}}"></i> {{v.label}}</a>
            </li>
            <!--<li>
                <a href="javascript://" class="active" ui-sref="monitor({clusterId: 4})"><i class="fa fa-dashboard fa-desktop"></i> MEM GRID AE00</a>
            </li>-->
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
    <!-- /.navbar-static-side -->
