/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tab-content {
  border:1px solid #ddd;
  padding: 10px 5px 5px;
  background-color: #fff;
  border-top: 0;
  margin-bottom: 10px;
}
