body {
	background-color: #282828;
}


#wrapper {
	.navbar-inverse {
		background-color: @gray-darker;

		&.sidebar {
			background-color: @gray-dark;
		}

		a {
			color: #ccc;
			&:hover {
				color: #fff;
				background-color: #000;
			}
			&:active {
				color: #000;
			}
			&:focus {
				background-color: #000;
				color:#fff;
			}
		}

		.dropdown-menu {
			a {
				color: #000;
				&:hover {
					background-color: @gray-lighter;
				}
			}
		}
	}

	/* .navbar-inverse.sidebar {
		background-color: @gray-dark;
	} */

	.sidebar-search {
		.input-group {

			#q.form-control {
				background-color: #BEBEBE;
			}

			input, button {
				border-color: @gray-darker;
			}

			button {
				background-color: @gray-darker;
			}
		}
	}

	.sidebar {
		ul {
			li {
				border-bottom: 1px solid #242323;
				a.active {
					background-color: #131212;
				}
			}
		}
	}

	.fa-2x {
		font-size: 2em;
	}

	.panel-green {
		.badge {
			&.badge-green {
				background-color: #309430;
			}
		}
	}

	/* vertical spacing */
	.vSpace10 {
		padding-bottom: 10px;
	}

	.vSpace20 {
		padding-bottom: 20px;
	}

	.panel-width-50 {
		width: 50%;
	}

	.text-width-100 {
		width: 100%;
	}

	table {
		text-align: center;
		margin-bottom: 0;
		thead {
			th {
				text-align: center;
			}
		}
	}

}
