<div class="row" ng-init="init()">
  <div class="col-lg-12">
    <h1 class="page-header">Maps</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <div class="panel panel-info">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-condensed table-hover table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(i, v) in clusterDetails.maps">
                <td class="col-md-9 text-left">
                  <h4>{{v.name}}</h4>
                </td>
                <td class="col-md-3 text-right">
                  <a href="javascript://" ui-sref="cluster.cluster_map({clusterId: v.cluster, mapId: v.id})" class="btn btn-info"><i class="fa fa-list"></i></a>
                  <a href="javascript://" ng-click="openMapBrowser()" class="btn btn-default"><i class="fa fa-search"></i></a>
                  <a href="javascript://" ng-click="confirmFlushModal()" class="btn btn-success"><i class="fa fa-recycle"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-tasks fa-3x"></i>
                </div>
                <div class="col-xs-9">
                    <h4>{{clusterDetails.name}}</h4>
                </div>
            </div>
        </div>
        <!--<a href="#" ui-sref="cluster.cluster_details({clusterId: 2})">-->
            <div class="panel-footer">
                <p class="lead">Description</p>
                <p class="text-muted">{{clusterDetails.description}}</p>
                <div class="clearfix"></div>
            </div>
        <!--</a>-->
    </div>
  </div>
</div>
