<div class="row" ng-init="init()">
  <div class="col-lg-12">
    <h1 class="page-header">Cluster Map</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading"><h3 class="panel-title">{{clusterMapData.name}}</h3></div>
      <div class="panel-body">
        <p>{{clusterMapData.description}}</p>
      </div>
    </div>

    <div class="">
      <tabset justified="true">

        <tab> <!-- members tab -->
          <tab-heading><i class="fa fa-sitemap"></i> Members</tab-heading>

          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Entries</th>
                  <th>Entry Memory</th>
                  <th>Backups</th>
                  <th>Backup Memory</th>
                  <th>Events</th>
                  <th>Hits</th>
                  <th>Locks</th>
                  <th>Dirty</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(i, v) in clusterMapData.members">
                  <td>
                    {{v.name}}
                  </td>
                  <td>{{v.stats.entries}}</td>
                  <td>{{v.stats.entryMemory}}</td>
                  <td>{{v.stats.backups}}</td>
                  <td>{{v.stats.backupMemory}}</td>
                  <td>{{v.stats.events}}</td>
                  <td>{{v.stats.hits}}</td>
                  <td>{{v.stats.locks}}</td>
                  <td>{{v.stats.dirty}}</td>
                  <td>
                    <a href="javascript://" class="btn btn-{{v.stats.status === 'good' ? 'success' : v.stats.status==='down' ? 'danger' : 'warning'}}" ng-switch on="v.stats.status">
                      <i class="fa fa-refresh fa-spin" ng-switch-default></i>
                      <i class="fa fa-check" ng-switch-when="good"></i>
                      <i class="fa fa-times" ng-switch-when="down"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </tab><!-- end members tab-->

        <tab select="browse()"> <!-- start map browser tab-->
          <tab-heading>
            <i class="fa fa-search"></i> Map Browser
          </tab-heading>

          <table class="table table-bordered table-hover table-striped">
            <thead>
              <tr>
                <th>Key</th>
                <th>Value</th>
                <th>Cost (bytes)</th>
                <th>Hits</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Expiration</th>
                <th>Last Accessed</th>
                <th>Last Stored</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(i, v) in clusterMapData.map">
                <td>{{v.key}}</td>
                <td>{{v.value}}</td>
                <td>{{v.cost_in_bytes}}</td>
                <td>{{v.hits}}</td>
                <td>{{v.creation_time | amDateFormat: 'ddd, MMM DD hh:mm:ss Z YYYY'}}</td>
                <td>{{v.last_update_time | amDateFormat: 'ddd, MMM DD hh:mm:ss Z YYYY'}}</td>
                <td>{{v.expiration_time | amDateFormat: 'ddd, MMM DD hh:mm:ss Z YYYY'}}</td>
                <td>{{v.last_access_time | amDateFormat: 'ddd, MMM DD hh:mm:ss Z YYYY'}}</td>
                <td>{{v.last_stored_time | amDateFormat: 'ddd, MMM DD hh:mm:ss Z YYYY'}}</td>
              </tr>
            </tbody>
          </table>
        </tab> <!-- end map browser tab -->

      </tabset>
    </div>
  </div>

</div>
