<fieldset>
  <div class="form-group">
    <select class="form-control" ng-model="cluster.group" name="group" ng-options="g.id as g.name for g in cluster_groups">
      <option value="">--select one---</option>
    </select>
  </div>

  <div class="open-fields">
    <div class="form-group">
      <label for="cluser.name">Name</label>
      <input type="text" ng-model="cluster.name" placeholder="Cluster Name" name="cluster.name" class="form-control">
    </div>
    <div class="form-group">
      <label for="cluster.ip">IP/Hostname</label>
      <input type="text" ng-model="cluster.hostname" name="cluster.ip" placeholder="IP Address/Hostname" class="form-control">
    </div>
    <div class="form-group">
      <label for="cluster.port">Port</label>
      <input type="text" ng-model="cluster.port" name="cluster.port" placeholder="Port" class="form-control">
    </div>
  </div>
</fieldset>
