<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Clusters</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-tasks fa-3x"></i>
                </div>
                <div class="col-xs-9">
                    <h4>GBTS PASSPORT</h4>
                    <div>
                      <ul class="list-inline">
                        <li><span class="badge badge-green">2</span> Members</li>
                        <li><span class="badge badge-green">1</span> Map</li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" ui-sref="cluster.cluster_details({clusterId: 1})">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-tasks fa-3x"></i>
                </div>
                <div class="col-xs-9">
                    <h4>GBTS PASSPORT OII</h4>
                    <div>
                      <ul class="list-inline">
                        <li><span class="badge badge-green">6</span> Members</li>
                        <li><span class="badge badge-green">1</span> Map</li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" ui-sref="cluster.cluster_details({clusterId: 2})">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
  </div>
</div>
