<fieldset>
  <form name="frmClusterGroup" method="post" ng-submit="createClusterGroup()">
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h3>New Cluster Group</h3>
    </div>
    <div class="modal-body">
        <div class="form-group"><label for="name">Name</label><input name="name" type="text" class="form-control" ng-model="new_group.name"></div>
        <div class="form-group"><label for="description">Description</label>
          <textarea class="form-control" name="description" rows="8" cols="40" ng-model="new_group.description"></textarea>
        </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary" type="submit">Create</button>
    </div>
  </form>
</fieldset>
