<form name="frmMap" method="post" ng-submit="createMap()">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4>New Map</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="map-name">Name:</label>
      <input type="text" class="form-control" name>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description" class="form-control" rows="8" cols="40"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>
