<div id="clusterConnectModal">
    <form name="frmClusterConnectModal" method="post" ng-submit="createCluster()">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Cluster</h4>
      </div>
      <div class="modal-body">
          <cluster-connect-form></cluster-connect-form>
      </div>
      <div class="modal-footer">
        <button name="btnCancelConnect" type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button name="btnContinueConnect" type="submit" class="btn btn-success">Create</button>
      </div>
    </form>
</div>
