<div class="flush-map-modal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="closeFlushMapModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Flush Map</h4>
  </div>
  <div class="modal-body text-center">
    <div class="lead"><h3>This will delete all data on this map.</h3>
     <h4 class="">Are you sure you want to continue?</h4></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeFlushMapModal()">Close</button>
    <button type="button" class="btn btn-warning" ng-click="closeFlushMapModal()">Continue</button>
  </div>
</div>
