<div class="map-browser-modal">
    <div class="modal-header">
      <button type="button" class="close" ng-click="closeMapBrowser()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Map Browser</h4>
    </div>
    <div class="modal-body clearfix">
      <div class="well well-sm">
        <form class="form">
          <div class="input-group">
              <div class="input-group-btn search-panel">
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#contains">String</a></li>
                    <li><a href="#its_equal">Integer</a></li>
                    <li><a href="#greather_than">Long</a></li>
                  </ul>
              </div>
              <input type="hidden" name="search_param" value="all" id="search_param">
              <input type="text" class="form-control" name="x" placeholder="Enter cache key">
              <span class="input-group-btn">
                  <button class="btn btn-success" type="button"><span class="glyphicon glyphicon-search"></span></button>
              </span>
          </div>
        </form>
      </div>

      <div class="item-data mtop">
        <form class="form-horizontal">
          <div class="panel panel-primary">
            <div class="panel-heading"><h4 class="panel-title">Result</h4></div>
            <div class="panel-body">

                <div class="form-group">
                  <label for="inputEmail3" class="col-md-2 control-label">Key</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="key" value="user_session_A122BC0" disabled>
                  </div>
                </div>
                <div class="form-group">
                  <label for="value" class="col-md-2 control-label">Value</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="cache_value" name="cache_value" value="John Doe">
                  </div>
                </div>

                <div class="form-group">
                  <label for="cost" class="col-md-2 control-label">Details</label>
                  <div class="col-md-10 form-group">
                    <div class="col-md-6">
                      <p><label class="control-label">Cost:</label> >0.2KB</p>
                      <p><label class="control-label">Creation:</label> Sat Jul 11 02:33:36 CST 2015</p>
                    </div>
                    <div class="col-md-6">
                      <p><label class="control-label">Hits:</label> 1000</p>
                      <p><label class="control-label">Expiration:</label> Sat Jul 11 02:33:36 CST 2015</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="panel-footer clearfix">
              <div class="pull-right">
                <button type="submit" class="btn btn-close btn-default">Close</button>
                <button type="submit" class="btn btn-save btn-primary">Update</button>
                <button type="submit" class="btn btn-save btn-danger">Delete</button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
</div>
