<div class="entry-list">
  <table class="table">
    <thead>
      <tr>
        <th>Entries</th>
        <th>Entry Memory</th>
        <th>Hits</th>
      </tr>
    </thead>
    <tbody>
      <td>33333121</td>
      <td>0.2 KB</td>
      <td>558</td>
    </tbody>
  </table>
</div>
