<div ng-include src="'/js/ng/Common/templates/menu.html'"></div>

<div id="page-wrapper">
	<ui-view>
		<div class="row">
			<div class="col-lg-12">
	      <h1 class="page-header">Dashboard</h1>
	    </div>
		</div>

		<div class="col-md-9">
			<div class="panel panel-success">
				<div class="panel-heading"><h4 class="panel-title">Clusters</h4></div>
				<div class="panel-body">
					<div ng-repeat="cluster_chunks in clusters" class="row">
					  <div class="col-lg-4" ng-repeat="cluster in cluster_chunks">
					    <div class="panel panel-green">
					        <div class="panel-heading">
					            <div class="row">
					                <div class="col-xs-3">
					                    <i class="fa fa-tasks fa-2x"></i>
					                </div>
					                <div class="col-xs-9">
					                    <h4>{{cluster.name}}</h4>
					                    <div>
					                      <ul class="list-inline">
					                        <li><span class="badge badge-green">{{cluster.maps.length}}</span> Map</li>
					                      </ul>
					                    </div>
					                </div>
					            </div>
					        </div>
					        <a href="#" ui-sref="cluster.cluster_details({clusterId: cluster.id})">
					            <div class="panel-footer">
					                <span class="pull-left">View Details</span>
					                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					                <div class="clearfix"></div>
					            </div>
					        </a>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="col-lg-12">
				<div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-list-ul fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">Admin</div>
                        <div>Panel</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
			</div>
		</div>

		<!--<div class="row">
			<div class="col-lg-3">
				<div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">2</div>
                        <div>Clusters</div>
                    </div>
                </div>
            </div>
            <a href="#" ui-sref="cluster.cluster_list">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
			</div>
			<div class="col-lg-3">
				<div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-sitemap fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">8</div>
                        <div>Cluster Members</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
			</div>
			<div class="col-lg-3">
				<div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-database fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">2</div>
                        <div>Cluster Maps</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
			</div>
			<div class="col-lg-3">
				<div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-list-ul fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">Admin</div>
                        <div>Panel</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
			</div>
		</div>-->
	</ui-view>
</div>
